<div class="divider{% if centered %} centered{% endif %}{% if light %} light{% endif %}">
    <span class="divider-line"></span>
    <span class="divider-icon">&#9830; &#9830; &#9830;</span>
    <span class="divider-line"></span>
</div>